<h1 class="d-flex justify-content-center">Order form</h1>


<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8">
            <form [formGroup]="orderForm" (ngSubmit)="createOrder()">
                <div>

                    <div class="form-group">
                        <label for="recipient_city">Store</label>
                        <select type="text" class="form-control" formControlName="store_id">
                            <option *ngFor="let x of storeData" [value]="x.store_id">{{x.store_name}}</option>
                        </select>
                    </div>


                    <h4 class="mt-5">Recipient Detail's</h4>


                    <div class="form-group mt-2">
                        <label for="recipient_name">Recipient's Name</label>
                        <input type="text" class="form-control" id="recipient_name" formControlName="recipient_name">
                    </div>

                    <div class="form-group mt-2">
                        <label for="recipient_name">Recipient's Phone</label>
                        <input type="text" class="form-control" id="recipient_phone" formControlName="recipient_phone">
                    </div>

                    <div class="form-group mt-2">
                        <label for="recipient_city">City</label>

                        <select type="text" class="form-control" formControlName="recipient_city">
                            <option *ngFor="let item of cityData" [value]="item.city_id">{{item.city_name}}</option>
                        </select>
                    </div>

                    <div class="form-group mt-2">
                        <label for="recipient_zone">Zone</label>
                        <select type="text" class="form-control" formControlName="recipient_zone">
                            <option *ngFor="let item of zoneData" [value]="item.zone_id">{{item.zone_name}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="recipient_name">Recipient Address</label>
                        <textarea type="text" class="form-control" id="recipient_address"
                            formControlName="recipient_address"></textarea>
                    </div>



                    <h4 class="mt-5">Delivery Detail's</h4>



                    <div class="form-group">
                        <label for="recipient_name">Amount to Collect</label>
                        <input type="text" class="form-control" id="amount_to_collect"
                            formControlName="amount_to_collect">
                    </div>

                    <div class="invalid-feedback"
                        *ngIf="orderForm.get('amount_to_collect').hasError('required') && orderForm.get('amount_to_collect').touched">
                        Amount is required
                    </div>

                    <div class="form-group">
                        <label for="recipient_name">Item Description & Price</label>
                        <textarea type="text" class="form-control" id="item_description"
                            formControlName="item_description"></textarea>
                    </div>


                </div>
                <button class="btn btn-primary mt-2" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>